html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

body {
    font-family: 'montserrat';
}

p {
    color: #8B8B8B;
}

#buttonb {
    margin-bottom: 147px;
    padding: 11px 30px;
    background-color: #407BFF;
    display: inline-block;
    border-radius: 20px;
    margin-right: 20px;
    margin-left: 82px;
    margin-top: 30px;

}

#buttons {
    background-color: #8B8B8B;
    display: inline-block;
    border-radius: 20px;
    padding: 11px 30px;
    margin-right: 147px;

}

.kontejner {
    display: flex;
}

.prvni {
    display: flex;

}

.firstpara {
    width: 488px;
    height: 65px;
    margin: 42px 94px 30px 82px;
}

.jedna {
    order: 2;
    flex-direction: column;
}

.dva {
    display: flex;
    flex-direction: column;
    order: 1;
}

.traveler {
    width: 425.88px;
    margin-left: 94px;
    margin-top: 60px;
}

h1 {
    margin-top: 133px;
    margin-left: 82px;
    font-size: 28px;
}
.mapa,.plane,.cactus, .rv, .palm, .umbrella {
    display: flex;
    flex-direction: column;
    border: #407BFF solid;
    width: 170px;
    height: 191px;
    order: 1;
}

.foto {
    height: 40px;
    margin: 40px 62px 20px 62px;
}

.logo {
    width: 140px;
    height: 51px;
    margin: 20px 15px 40px 15px;
    font-size: 13px;
    text-align: center;

}

.mainpara, h2 {
    font-size: 16px;
}

.foto2 {
    width: 50px;
    height: 40px;
    margin: 40px 60px 20px 60px;
}

.paratwo {
    width: 430px;
    height: 76px;
    padding-left: 60px;
}

.nadpis1 {
    padding-left: 60px;
}
